html, body{
    color: #000;
	margin: 0;
	padding: 0;
	overflow: hidden;
    width: 100%;
	height: 100%;

   
}

body{
-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
background-color: #000; 
max-height: 100%;   
}

*
{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input
{
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
}

*
{
-webkit-touch-callout: none;
-moz-touch-callout: none;
-ms-touch-callout: none;
touch-callout: none;
}

*{
-webkit-user-drag: none;
-moz-user-drag: none;
-ms-user-drag: none;
user-drag: none;
}


.preload{
    background: #FFF;
    width: 100%;
    height: 100%;
}
.preload img{
    position: absolute;
    top: 45%;
    left: 45%;    
}

canvas{
    overflow: hidden;
    image-rendering: optimizeSpeed;
    -ms-interpolation-mode: nearest-neighbor;
     height: 100%;
	 width: 100%;
}


span, p, a{
	font-family: Helvetica, Ariel, sans-serif;
	color: #00FF00;
	cursor: default;
    text-decoration: none;
}


.nextButton{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
}

.generalHover:hover{
    color: aqua; 
    cursor: pointer;
	text-decoration: none;
}


h1{
	font-family: Helvetica, Ariel, sans-serif;
	color: #FFFFFF;
	letter-spacing: -1px;
	font-size: 35px;
	cursor: default;
    display: inline;
}

button{
	clear:both;
}

.buttonControl{
    border: 1px solid #00FF00;
    padding: 8px;
}
.appPage{
    display: none;
    width: 100%;
    height: 100%; 
}

.buttonControl:hover{
   border-color: #0000FF;
   color: #0000FF;
}

.blockAd{
    width: 336px;
    height: 280px;
    margin: auto;
    margin-top: 10px;
}


.blockAd:after{
    position: relative;
    left: 100px;
    content: "";
    font-size: 12px;
    color: #CCC; 
}


#canvasHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#interfaceWrapper{
    text-align: center;
    height: 100%;
	width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
}


#storyLineHolder{
    overflow: hidden;
    text-align: left;
}
#storyLineHolder p{
    text-indent: 25px; 
}

.scrollBox{
    width: 400px;
    margin: auto;  
}

.scrollBox{
 margin-bottom: 10px;
 /* Starting position */
 -moz-transform:translateY(100%);
 -webkit-transform:translateY(100%);	
 transform:translateY(100%);
 /* Apply animation to this element */	
 -moz-animation: scrollBox 210s linear infinite;
 -webkit-animation: scrollBox 210s linear infinite;
 animation: scrollBox 210s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scrollBox {
 0%   { -moz-transform: translateY(10%); }
 100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scrollBox {
 0%   { -webkit-transform: translateY(10%); }
 100% { -webkit-transform: translateY(-100%); }
}
@keyframes scrollBox {
 0%   { 
 -moz-transform: translateY(10%); /* Firefox bug fix */
 -webkit-transform: translateY(10%); /* Firefox bug fix */
 transform: translateY(10%); 		
 }
 100% { 
 -moz-transform: translateY(-100%); /* Firefox bug fix */
 -webkit-transform: translateY(-100%); /* Firefox bug fix */
 transform: translateY(-100%); 
 }
}

#gameStart{
    
    
}

#gameStart span, #gameStart a{
    width: 150px;
    display: block;
    clear: both;
    margin: auto;
    margin-bottom: 15px;
    font-size: 1.3em;
}

#gameStart h1{
    display: inline-block;
    font-size: 35px;
    color: white;
}

#howToPlayHolder{
    background-color: #000;
    overflow: auto;
}
#howToPlayHolder h2{
    font-size: 25px;
    position: relative;
    margin-top: 0px;
    margin-bottom: 40px;
    top: 12px;
    color: #00FF00;
    
}
#howToPlayHolder p{
 font-size: 16px;
 margin-left: 20px;
 text-align: left;
    
}

#credits{
   color: #00FF00; 
   background-color: #000;
    max-height: 100%;
    overflow: auto;
}
#credits ul{
    text-align: left;
}
#credits h2{
    width: 200px;
    margin: auto;
    padding: 10px;
    color: #00FF00;
    display: block;
}

#gamePlay{
    font-size: 23px;
}

#gamePlay span{
    margin-left: 30px;  
}


#levelTransition{
    background-color: #000;
    background-image: url("../assets/sprites/translevel_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    text-align: left;
}

#levelTransition span{
    width: 250px;
    margin: 5px auto;
    margin-bottom: 4px;
    display: block;
}

#levelTransition h2{
    width: 200px;
    margin: auto;
    padding: 10px;
    color: #00FF00;
    display: block;
}

#levelTransition img{
    height: 100%;
    float: left;    
}

#beatGame{
    background-color: #000;
    background-image: url("../assets/sprites/beatGame_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    text-align: center;
}
#beatGame h2{
    display: block;
    width: 250px;
    padding: 10px;
    margin: auto;
    color: #fff;
}
#beatGame div{
    width: 300px;
    margin: auto;
}
#beatGame span{
    display: block;
}
#gameOver{
    background-color: #000;
    background-image: url("../assets/sprites/game_over_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
#gameOver h1{
    width: 300px;
    margin: auto;
    padding: 10px;
    display: block;
    color: #fff;
}